body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.weatherTitle{
    font-family: Arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: white
}

.weatherForm{
    display: flex;
    flex: 1;
    gap: 15px;
    margin: 10px;
}

.cityInput{
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 15px;
}

.weatherForm button{
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    background-color: hsl(180, 73%, 50%);
    cursor: pointer;
    color: black;
}
.weatherForm button:hover{
    background-color: hsl(180, 73%, 60%);
}

.weatherCard{
    background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(40, 100%, 75%));
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid hsl(35, 50%, 66%);
    border-radius: 20px;
    box-shadow: 2px 2px 5px hsla(5, 50%, 66%, 0.5);
    padding: 20px 50px 20px 50px;  /* top, right, bottom, left */
    margin: 30px;
}

h1{
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 25px;
}

p{
    font-size: 2rem;
    margin: 5px 0;
}

.weatherMain{
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 15px; 
  }
  
.cityContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.mapIcon{
    width: 50px;
    height: 50px;
    margin-right: 5px;
    transform: translateY(-10px);
}

.cityDisplay, .tempDisplay{
    font-size: 3rem;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.75);
    margin-bottom: 25px;
}
.weatherIcon{
    width: 80px;
    height: 80px;
    margin: 15px;
    transform: translateY(-10px);
}
.descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 55px;
}

.humidityContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 5px;
}

.waterIcon{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.humidityDisplay{
    font-weight: bold;
    margin-bottom: 5px;
}
.feelsLikeDisplay{
    font-weight: bold;
    margin-bottom: 5px;
}
.errorDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.75);
}

.unitToggle{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

/* container for the whole toggle */
.switch{ 
    position: relative;
    display: inline-block;
    width: 60px;
    height: 35px;
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

/* the coloured background */
.slider{
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: hsl(0, 0%, 80%);
    transition: 0.4s;
    border-radius: 35px;
}
/* the circular knob that slides */
.slider::before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider{
    background-color: hsl(242, 57%, 48%);
}

input:checked + .slider::before{
    transform: translateX(26px);
}

.footerContainer{
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    gap: 10px;
    margin: 30px -50px -20px -50px;  

}
.forecastButton img, .saveCityButton img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    transform: translateY(6px);
}

.forecastButton{
    background-color: hsl(160, 100%, 75%);
    border: none;
    border-radius: 0 0 0 15px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    white-space: nowrap;  
}
.forecastButton:hover{
    background-color: hsl(160, 100%, 85%);
}

.saveCityButton{
    background-color: hsl(210, 100%, 75%);
    border: none;
    border-radius: 0 0 15px 0;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    white-space: nowrap;  
}
.saveCityButton:hover{
    background-color: hsl(210, 100%, 80%);
}